/* /////////////
    Estilos globales
///////////// */
html { 
    /* background-color: #003791; */
    height: 100%;
    /* background: linear-gradient(180deg, #003791, #000000); */
    background-image: url("https://images.unsplash.com/photo-1621947081720-86970823b77a?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGZvbmRvJTIwZGUlMjBwYW50YWxsYSUyMGRlJTIwcGxheXN0YXRpb258ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    font-family: "Momo Trust Display", sans-serif;
    height: 100%;
}

ul {
    padding-left: 0;
    display:  flex;
    justify-content:space-around;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#getProductos-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/* Estilos "Listado de productos" */

#contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(101, 114, 112, 0.415);
    background-color: rgba(30, 161, 255, 0.343);
    transition: all .5s;
    border-radius: 12px;
}

.card-producto{
    font-size: 0.85rem;
}

nav ul {
    background-color: rgba(223, 223, 223, 0.605);
    padding: 10px;
    border-radius: 15px;
}

nav ul a{
    padding: 10px;
    border-radius: 10px;
    transition: all .5s;
    font-family: "Momo Trust Display", sans-serif;
}

nav ul a:hover {
    background: rgb(0, 0, 0);
    color: white;
}

.card-producto img {
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}

.card-producto:hover{
    scale: 1.2;
}

/* Estilos "Consultar producto" */

.cont-prod-cons{
    margin-top: 30px;
    width: 100%;
}

#listado-productos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: 0;
}

.li-listados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-family: "Momo Trust Display", sans-serif;
    border: 2px solid rgba(101, 114, 112, 0.415);
    padding: 10px;
    border-radius: 10px;
}

.li-listados img {
    width: 65px;
    border-radius: 8px;
    transition: all .4s;
}

.li-listados img:hover {
    transform: scale(2);
    
}

#getProductos-form{
    width: 170px;
    height: 150px;
}

#getProductos-form, #altaProductos-form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: 2px solid rgba(101, 114, 112, 0.415);
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #00225966; 
}

#idProd{
    width: 60px;
}


