/* /////////////
    Estilos globales
///////////// */
ul {
    display:  flex;
    justify-content:center;
    gap: 150px;
    align-items: space-between;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}