* {
  max-width: 100%;
}

/* /////////////
    Estilos globales
///////////// */
html { 
  /* background-color: #003791; */
  height: 100%;
  /* background: linear-gradient(180deg, #003791, #000000); */
  background-image: url("https://images.unsplash.com/photo-1621947081720-86970823b77a?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGZvbmRvJTIwZGUlMjBwYW50YWxsYSUyMGRlJTIwcGxheXN0YXRpb258ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-attachment: fixed;
  font-family: "Momo Trust Display", sans-serif;
  height: 100%;
}

button:hover{
  cursor: pointer;
}

ul {
  padding-left: 0;
  display:  flex;
  justify-content:space-around;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}




/* Estilos "Listado de productos" */

#contenedor-productos{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card-producto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid rgba(101, 114, 112, 0.415);
  background-color: rgba(30, 161, 255, 0.343);
  transition: all .4s;
  border-radius: 12px;
}

.card-producto{
  font-size: 0.85rem;
}


nav ul {
  background-color: rgba(223, 223, 223, 0.605);
  padding: 10px;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 800px;
}

nav ul a{
  padding: 10px;
  border-radius: 10px;
  transition: all .5s;
  font-family: "Momo Trust Display", sans-serif;
}

nav ul a:hover {
  background: rgb(0, 0, 0);
  color: white;
}

#contenedor-filtros{
  display: flex;
  justify-content: space-between;
  width: 800px;
  max-width: 100%;
  align-items: center;
  margin-bottom: 30px;
  }

.botones-ordenar{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 270px;
}


.img-producto{
  width: 200px;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
}

#lista-carrito{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list-carrritoProducto{
  width: 700px auto;
  display: flex;
  justify-content:space-between ;
  border: 3px solid rgba(101, 114, 112, 0.415);
  background-color: rgba(30, 161, 255, 0.343);
  border-radius: 5px;
  gap: 25px;
  padding: 5px;
}

.cont-info-producto{
  display: flex;
  gap: 10px
}

.card-carrito-producto , .datos-prod-carrito{
  display: flex;
  align-items: center;
  gap: 15px
}

.datos-prod-carrito{
  width: 255px;
}

.card-carrito-producto {
  flex-direction: column;
  align-items: self-start;
}

.card-edicion-carrito{
  display: flex;
  align-items: center;
  
}

.img_carrito{
  width: 80px;
  height: 120px;
  border-radius: 10px;
  transition: all .5s;
}

.img_carrito:hover{
  transform: scale(1.5);
}


.boton-disminuir-cantidad , .boton-aumentar-cantidad, .boton-eliminar-elemento{
  background: none;
  border: none;
  color: white;
}

.boton-disminuir-cantidad {
  margin-right: 4px;
}
.boton-aumentar-cantidad{
  margin-left: 4px;
}

.svg-trash, .svg-plus, .svg-minus{
  width: 25px;
  height: 25px;
}

.item-cantidad-carrito{
  font-size: 18px;
}

.svg-button{
  border-radius: 50%;
  background-color: transparent;
}

.svg-button:hover{
  background-color: rgba(128, 128, 128, 0.5);
  box-shadow: 0px 0px 12px 0px rgba(240, 240, 240, 0.5);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(240, 240, 240, 0.5);
  -moz-box-shadow: 0px 0px 12px 0px rgba(240, 240, 240, 0.5);
}

#cont-total{
  display: flex;
  justify-content:flex-end;
  gap: 10px;
  width: 700px;
  max-width: 100%;
  margin-top: 50px;
}

.cont-cart-actions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 700px;
  max-width: 100%;
}

#boton-vaciar-carrito{
  font-family: "Momo Trust Display", sans-serif;
  background-color: transparent;
  border: none;
  background-color: rgba(124, 124, 124, 0.588);
  width: 200px;
  padding: 8px 5px;
  border-radius: 5px;
  font-size: 15px;
  color: white;
}

#boton-confirmar-compra{
  color: white;
  font-family: "Momo Trust Display", sans-serif;
  width: 400px;
  background-color: rgba(0, 47, 255, 0.533);
  border: none;
  padding: 20px 5px;  
  border-radius: 5px;
  font-size: 25px;
  margin-bottom: 10px;
}

#boton-confirmar-compra:hover{
  background-color: rgb(0, 47, 255);
}
#boton-vaciar-carrito:hover{
  background-color: rgb(124, 124, 124);
}

#main-carrito{
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.058);
}

#cont-total span {
  font-size: 25px;
  text-shadow: 4px 5px 4px #000000;
}

#svg-cart{
  margin-bottom: -5px;
}

.boton-agregar-a-carrito{
  background-color: rgb(0, 202, 0);
  border: none;
  border-radius: 5px;
  margin-bottom: 7px;
}

.boton-agregar-a-carrito:hover{
  background-color:  #00ff0d;
  box-shadow: 0px 0px 15px 5px #000000;
}

#contenedor-productos {
  opacity: 1;
  transition: opacity 1.5s ease; 
}

#contenedor-productos.fade-out {
  opacity: 0;
}

.add-cart-svg{
  width: 45px;
}

.boton-filtro {
  padding: 5px 15px;
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.boton-filtro:hover{
  transform: scale(1.05);  
  font-weight: 600;
}